
  <% @products.each do |product| %>
  <div class="col-sm-6">
    <div class="card" style="width: 20rem;">
      <%= image_tag product.avatar.url(:medium) %>
      <div class="card-block">
        <h4 class="card-title"><%= product.name %></h4>
        <p class="card-text">$ <%= product.price %></p>
        <div class="btn btn-info"><%= link_to "View", product_path(product) %></div>
      </div>
    </div>
  </div>
  
  <% end %>
